@model ContactUs

@{
    ViewData["Title"] = "Edit Contact Us";
}

@section Styles
{
<link rel="stylesheet" type="text/css" href="/admin/devextreme/css/dx.material.blue.light.css" />
}

@section Scripts
{
<script src="/admin/devextreme/js/dx.all.js"></script>

<script src="/admin/js/filemanager.js"></script>

<!-- TinyMCE -->
<script src="/admin/plugins/tinymce/tinymce.js"></script>

<script>
    $(function () {
        //TinyMCE
        tinymce.init({
            selector: "textarea#tinymce",
            theme: "modern",
            height: 300,
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',
            image_advtab: true
        });
        tinymce.suffix = ".min";
        tinyMCE.baseURL = '/admin/plugins/tinymce';
    });
</script>
}

<partial name="_FileManagerModalPartial" />

<!-- Vertical Layout -->
<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @ViewData["Title"]
                </h2>
            </div>
            <div class="body">
                <form enctype="multipart/form-data" method="post" action="/admin/contactus/edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea id="tinymce" asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="MainPhone" class="control-label"></label>
                            <input asp-for="MainPhone" class="form-control" />
                            <span asp-validation-for="MainPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="SecondPhone" class="control-label"></label>
                            <input asp-for="SecondPhone" class="form-control" />
                            <span asp-validation-for="SecondPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="MainEmail" class="control-label"></label>
                            <input asp-for="MainEmail" class="form-control" />
                            <span asp-validation-for="MainEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="SecondEmail" class="control-label"></label>
                            <input asp-for="SecondEmail" class="form-control" />
                            <span asp-validation-for="SecondEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="MapX" class="control-label"></label>
                            <input asp-for="MapX" class="form-control" />
                            <span asp-validation-for="MapX" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="MapY" class="control-label"></label>
                            <input asp-for="MapY" class="form-control" />
                            <span asp-validation-for="MapY" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Vertical Layout -->